<!DOCTYPE html>
<html ng-app="myApp" ng-cloak>

  <head>
    <link data-require="bootstrap@*" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
    <link data-require="bootstrap-css@*" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
    <script data-require="angular.js@1.5.x" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" data-semver="1.5.8"></script>
    <script data-require="jquery@*" data-semver="2.1.4" src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="script.js"></script>
  </head>

  <body ng-controller="mainCtrl as vm">
    <div class="container" align="center">
      <h1>Krossover Player</h1>
      <video controls ng-show="!isEmpty(vm.videoUrl)">
          <source ng-src="{{vm.trustAsResourceUrl(vm.videoUrl)}}" data-original="http://grochtdreis.de/fuer-jsfiddle/video/sintel_trailer-480.mp4">
      </video>
      <hr>
      <div class="alert alert-danger" role="alert" ng-if="vm.EditingClip.errors.length > 0">
        <div align="left" ng-repeat="error in vm.EditingClip.errors">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{error}}
        </div>
      </div>
      <table class="table" ng-if="vm.EditModeOn">
        <tr>          
          <td></td>
          <td><input type="text" class="form-control" ng-model="vm.EditingClip.name" placeholder="Clip name" required></td>
          <td><input type="number" class="form-control" ng-model="vm.EditingClip.startTime" placeholder="Start time" required></td>
          <td><input type="number" class="form-control" ng-model="vm.EditingClip.endTime" placeholder="End time" required></td>
          <td ng-if="!vm.isEdit">
            <button type="button" class="btn btn-info" ng-click="vm.AddClip()">Add New Clip</button>
          </td>
          <td ng-if="vm.isEdit">
            <button type="button" class="btn btn-success" ng-click="vm.SaveClip()">Save Edited Clip</button>
          </td>
          <td><button type="button" class="btn btn-info" ng-if="vm.isEdit" ng-click="vm.Cancel()">Cancel</button></td>
        </tr>
      </table>
      <hr ng-if="vm.EditModeOn">
      <table class="table">
        <tr>
          <th>Play clip</th>
          <th>Clip name</th>
          <th>Start time</th>
          <th>End time</th>
          <th ng-if="vm.EditModeOn">Action</th>
          <th ng-if="vm.EditModeOn">Delete</th>
        </tr>
        <tr>
        <tr>
          <td><button type="button" class="btn btn-danger" ng-click="vm.defaultClip.Play()"><i class="fa fa-play" aria-hidden="true"></i></button></td>
          <td>{{vm.defaultClip.name}}</td>
          <td>{{vm.defaultClip.startTime}}</td>
          <td>{{vm.defaultClip.endTime}}</td>
          <td ng-if="vm.EditModeOn"/>
          <td ng-if="vm.EditModeOn"/>
        </tr>
        </tr>
        <tr ng-repeat="clip in vm.clips">
          <td><button type="button" class="btn btn-danger"  ng-click="clip.Play()"><i class="fa fa-play" aria-hidden="true"></i></button></td>
          <td>{{clip.name}}</td>
          <td>{{clip.startTime}}</td>
          <td>{{clip.endTime}}</td>
          <td ng-if="vm.EditModeOn"><button type="button" class="btn btn-warning" ng-click="vm.EditClip(clip)">Edit</button></td>
          <td ng-if="vm.EditModeOn"><button type="button" class="btn btn-default" ng-click="vm.DeleteClip(clip)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
        </tr>
      </table>
      <hr>
      <button type="button" class="btn btn-black" ng-click="vm.EditModeOn=!vm.EditModeOn">Turn {{vm.EditModeOn ? 'Off' : 'On'}} Edit Mode</button>
    </div>    
  </body>
</html>
